## KECERDASAN BUATAN

#### Nama Kelompok
I Gede Arengga Nabakta ( 1203220108 ),
Mahendra Pratama Hartawan Putra ( 1203222078 ),
Daniswara Aryasatya F.F ( 1203220066 )

In [2]:
import matplotlib
import numpy
import pandas as pd

In [3]:
data = pd.read_csv("dataAI.csv")

data.head()

,No,Item Name,Item Code,Category Name,Loss Rate (%) per item,total Quantity Sold (kilo) in 3 years,average prize per kilo,prize in 3 years,laris atau tidak
0,1,Niushou Shengcai,1.030000e+14,Flower/Leaf Vegetables,4.39,899.84,2.37,"2,128.86",laris
1,2,Sichuan Red Cedar,1.030000e+14,Flower/Leaf Vegetables,10.46,333.22,25.98,"8,656.12",laris
2,3,Local Xiaomao Cabbage,1.030000e+14,Flower/Leaf Vegetables,0.18,121.02,3.14,379.88,laris
3,4,White Caitai,1.030000e+14,Flower/Leaf Vegetables,8.78,718.68,2.65,"1,904.79",tidak
4,5,Amaranth,1.030000e+14,Flower/Leaf Vegetables,18.52,5100.06,4.08,"20,790.02",laris

## Mencari Entropy

##### Mencari Entropi dari categori name

##### Mencari Entropi dari Loss rate (%)

##### Mencari Entropi dari Quuantity

##### Mencari Entropi dari average prize

##### Mencari Entropi dari Laris Tidak

## Mencari Information gain